@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";


//Sub
.sub-button {
    @include margin-padding(0px 7px, 12px 18px);
    @include border-radius(1px solid #bda7a7, 16px);
    background-color: white;
    &:hover {
        border: 1px solid black;
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgb(34, 34, 34) 0px 0px 0px 4px, rgba(255, 255, 255, 0.5) 0px 0px 0px 5px !important;
    }
}
.group-sub-btn {
    @include margin-padding(0px 0px 16px 16px, 8px 32px);
    display: inline-block ;
    cursor: pointer ;
    list-style-type: none ;
    text-decoration: none ;
    .color-black {
        @include background-color(black, white)
    }
}

// header2
// .btn-group {
//     margin: 6px 0px;
//     button.btn.btn-default {
//         border-radius: 30px !important;
//         @include margin-padding(0 4px, 8px 16px);
//         font-weight: 400 !important;
//         font-size: 15px !important;
//         line-height: 18px !important;
//         &:hover {
//             background-color: white;
//             border: 1px solid black;
//         }
//         &:focus {
//             outline: none;
//         }
//     }
// }

.btn-header2 {
    height: 36px;
    border-radius: 30px !important;
    margin: 6px 3px;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    @include background-color(white,black);
    border-color: #ccc;
    &:hover {
        @include background-color(white,black);
        border: 1px solid black;
    }
    &:focus {
        outline: none !important;
        color: black;
        background-color: white;
        border-color: #ccc;
    }
    p {
        font-size: 16px;
        margin: 0 5px;
        color: #484848;
    }
}

//disable Minus
.minus:disabled{
    cursor: not-allowed !important;
    opacity: 0.4;
}

//Jumbotron
.jumbotron-left {
    .hientatca.an-button1 {
        background-color: white;
        @include margin-padding(27px 0, 11px 21px );
        @include border-radius(1px solid #d6d2d2, 7px);
        @include fontsize-lineh(20px, 1.43, black);
        box-shadow: $primary-shadow;
    }
}
.hientatca.an-button2 {
    display: none;
}

//Responsive
@include responsive_1024(){
    .btn-nodropdown button:nth-last-child(2), .btn-nodropdown button:nth-last-child(3){
        display: none;
    }
    button.hientatca.an-button1 {
        display: none;
    }
    button.hientatca.an-button2 {
        display: block !important;
        @include background-color(white, black);
        @include margin-padding(27px 0px, 11px 21px);
        @include border-radius(1px solid #d6d2d2, 7px);
        @include fontsize-lineh(20px, 1.43, $fontColor);
        box-shadow: $primary-shadow;
    }
    .btn-group .btn-default {
        @include background-color(#fff, #a59393);
        border-color: #ccc;
    }
}
@include responsive_640() {
    .sub .group-sub-btn .sub-button {
        margin: 4px 7px !important;
    }
    button.btn.btn-default.cong-tac {
        display: none;
    }
    button.btn.btn-default.dropdown-toggle.noi-o {
        display: none;
    }
    button.btn.btn-default.bolockhac {
        margin-left: -9px;
    }
    button.hientatca.an-button2 {
        width: 100%;
        background: #eeeeee;
        border-color: black;
    }
}