@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";

.checkbox-map {
    float: right;
    display: flex;
    margin-right: 12px;
    span.show-map {
        margin: 13px;
        font-size: 16px;
    }
    .input-map {
        margin-top: 8px;
        
    }
    
}
.center {
    & input[type="checkbox"]{
        position: relative;
        @include width-height(48px, 32px);
        -webkit-appearance: none;
        background: #c6c6c6;
        outline: none;
        border-radius: 20px;
        /* transition: 0.5s; */
        &:before{
            content: "";
            @include position-align(absolute, top, left, 2px, 1px);
            @include width-height(28px, 28px);
            @include border-radius(1px solid #928a8a, 20px);
            background: white;
            transform: scale(1.1);
            transition: 0.5s;
        }
    }
    & input:checked[type="checkbox"]{
        background: black;
        
        &:before{
            left: 18px;
        }
    }
    & input:focus[type="checkbox"]{
        outline: none;
        transition: box-shadow 0.2s ease 0s !important;
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgb(34, 34, 34) 0px 0px 0px 4px, rgba(255, 255, 255, 0.5) 0px 0px 0px 5px !important;
    }
}

.modalWord-right {
    @extend .center;
}


//responsive
@include responsive_1024(){
    .checkbox-map {
        display: none !important;
    }
}