@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";

ul.dropdown-menu {
    top: 45px;
    width: 350px;
    border-radius: 15px;
    .list-check-left {
        @include display-flex(row, nowrap);
        .checkbox-left {
            @include width-height(20%, 20px);
            margin-top: 23px;
        }
        .checkbox-right {
            width: 0;
            flex-grow: 1;
        }
    }
    .delete {
        @include border-radius(none, -9px);
        color: black;
        text-decoration: underline;
        margin: 0px 30px;
        &:hover {
            background-color: #f5f2f2;
        }
    }
    .save {
        background-color: black;
        @include border-radius(1px, 10px);
        float: right;
        @include margin-padding(0 30px, 7px 17px );
        &:hover {
            background-color: black;
        }
    }
}