@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";

//search-header
.search-group{
    .form-control {
        height: 43px;
        max-width: 460px;   
        font-weight: 800 ;
        @include fontsize-lineh(17px, 1.43, $fontColor);
    }
}