@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";

.search-group{
    input{
        position: relative;
        padding-left: 50px;
        background-color: white !important;
        transition: 0.3s ease-in !important;
        @include border-radius(1px solid #EBEBEB !important, 4px !important);
        box-shadow: 0px 0px 1px 1px rgba(0,0,0, .2);;
        height: 48px !important;
        overflow-y: hidden;
        font-size: 20px;
        &:focus{
            max-width: 100%;
            z-index: 6;
            & ~ .sub{
                display: block;
            }
        }
    }
}

//responsive
@include responsive_640() {
    .input-group.search-group {
        flex-grow: 0;
        width: 92%;
        margin-left: 15px;
    }
}