@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";

.modal-live {
    top: 105px;
    left: 280px;
    position: absolute;
    width: 378px;
}
.list-check-left {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.checkbox-left {
    @include width-height(20%, 24px);
    margin-top: 23px;
}
.checkbox-right {
    width: 0;
    flex-grow: 1;
}
.delete {
    font-size: 17px;
    text-decoration: underline;
    background-color: white;
    @include border-radius(1px, 10px);
    float: left;
    @include margin-padding(0 30px, 7px 17px );
    &:hover {
        background-color: #f5f2f2;
    }
    &:focus {
        outline: none !important;
    }
}
.save {
    font-size: 17px;
    background-color: black;
    @include border-radius(1px, 10px);
    float: right;
    @include margin-padding(0 30px, 7px 17px );
    &:hover {
        background-color: black;
    }
    &:focus {
        outline: none !important;
    }
}

.modal.fade .modal-dialog {
    /* -webkit-transform: translate(0,-25%); */
    
    /* transform: translate(0,-25%); */
    /* -webkit-transition: -webkit-transform .3s ease-out; */
    
    /* transition: -webkit-transform .3s ease-out; */
    /* transition: transform .3s ease-out; */
    /* transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out; */
}


.fade.in {
    opacity: 0 !important;
}
div#myModalLive {
    opacity: 1 !important;
}
div#myModalGuest {
    opacity: 1 !important;
}
div#myModalWord {
    opacity: 1 !important;
}
div#myModalNow {
    opacity: 1 !important;
}
div#myModalPrice {
    opacity: 1 !important;
}
div#myModalFillter {
    opacity: 1 !important;
}


//responsive
@include responsive_1024(){
    .price {
        display: none;
    }
    .now {
        display: none;
    }
}

@include responsive_768() {
    .word {
        display: none;
    }
    .live {
        display: none;
    }
}

@include responsive_640() {
    
}