@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";

.modal-guest {
    width: 395px !important;
    position: fixed;
    top: 105px;
    left: 100px;
}

.modalContentGuest {
    display: flex;
    align-items: center;
}

.modalGuest-left {
    width: 212px;
    font-size: 16px;
    margin-left: 20px;
}
.modalGuest-right {
    flex-grow: 1;
    &--group{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95px;
    }
}

.minus {
    margin: 0 14px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #6e6c6c;
    &:focus {
        outline: none;
    }
    &:hover {
        border: 1px solid black;
    }
}
.count {
    font-size: 20px;
}

.minus h2 {
    margin-top: -3px;
}