@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";

.pagination-page {
    .text-center {
        .pagination {
            &>li>a {
                @include pagination;
            }
            &>li>span {
                @include pagination();
            }
            .delete-border {
                @include background-color(black,white);
                &:hover {
                    z-index: 2;
                    @include background-color(black,white);
                    border-color: #ddd;
                }
                &.active {
                    @include background-color(black,white);
                    border-radius: 20px;
                    @include margin-padding(3px 9px, 2px 10px)
                }
            }
            .click-hover:hover {
                @include background-color(white,black);
                text-decoration: underline;
            }
        }
    }
    .pagination-footer {
        text-align: center;
        .pagination-footer2 {
            @include fontsize-lineh(12px, 1.43, $fontColor);
        }
    }
}

//responsive
@include responsive_1024(){
    .pagination-page {
        width: 100%;
    }
}