@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";


.search-group{
    flex-grow: 1;
    margin: 19px 0px;
    @include display-flex(column, nowrap);
    height: 48px;
}

//responsive
@include responsive_1024(){
    .search-group .sub {
        width: 100% !important;
    }
}

@include responsive_768() {
    .search-group .sub {
        width: 100% !important;
    }
}