@import "mixin.scss";
@import "responsive.scss";
@import "variables.scss";

.list-inline {
    
    @include margin-padding(25px 0, 0);
    list-style: none;
    float: right;
    &>li {
        display: inline-block;
        padding: 2px 16px;
    }
    a {
        @include fontsize-lineh(15px, 1.43, $fontColor);
        text-decoration: none;
        &:hover {
            padding: 33px 0px;
            border-bottom: 2px solid #888080;
        }
        i.fas.fa-dollar-sign {
            @include fontsize-lineh(17px, 1.43, $fontColor);
        }
    }
}

//responsive
@include responsive_1024(){
    .list-inline{
        display: none;
    }
}