$primary-shadow: 0px 0px 3px 3px rgba(0,0,0, .2);
$font-size: ("md": 12px, "xxx-sm": 15px, "xx-sm": 16px, "x-sm": 17px, "sm": 18px, "x-lg": 19px, "lg": 20px);
$background: ("white": white, "blue": #0a7b7b, "black": black,);
$color: ("black": black, "gray": #484848);
$fontColor: #484848;