body {
    font-family: Varela;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0px;
    margin: 0px;
}

/* Logo */
.left-header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 80px;
}
.left-header .logo-img{
    width: auto;
    padding: 0 24px;
}
img.airbnb {
    height: 32px;
    margin: 24px 0px;
}
/* Search Bar */
.row-header1 {
    height: 80px;
}
.search-group{
    flex-grow: 1;
    margin: 19px 0px;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    display: flex;
    flex-direction: column;
    height: 48px;
}
.search-group input{
    position: relative;
    padding-left: 50px;
    background-color: #ffffff !important;
    transition: 0.3s ease-in !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    height: 48px !important;
    overflow-y: hidden;
    font-size: 20px;
    width: 460px;
}
.search-group .sub{
    
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    position: absolute;
    top: 47px;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 596px;
    z-index: 5;
    border-top: 1px solid #d6caca;
    transition: 0.3s ease-in !important;
}
.search-group input:focus{
    max-width: 100%;
    z-index: 6;
}
.search-group input:focus ~ .sub{
    display: block;
}

.search-group .search-icon{
    position: absolute;
    top: 15px;
    left: 17px;
    z-index: 5;
    font-size: 19px;
}
.form-control {
    height: 43px;
    max-width: 460px;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    font-weight: 800 ;
    font-size: 17px ;
    color: #484848 ;
    font-family: auto;
}
/* Sub */
.title {
    text-transform: uppercase;
    padding-bottom: 2px ;
    padding-left: 32px ;
    padding-right: 32px ;
    padding-top: 16px ;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    font-weight: 600;
}
.group-sub-btn {
    margin: 0px 0px 16px ;
    padding: 0px 32px ;
    padding-top: 8px ;
    padding-bottom: 8px ;
    padding-right: 8px ;
    display: inline-block ;
    cursor: pointer ;
    list-style-type: none ;
    text-decoration: none ;
}
button.sub-button {
    margin: 0px 7px;
    padding: 12px 18px;
    border-radius: 16px;
    background-color: white;
    border: 1px solid #bda7a7;
}
button.sub-button:hover {
    border: 1px solid black;
}
.group-sub-btn .color-black {
    background-color: black !important;
    color: white !important;
}


/* Header1-right */
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    float: right;
    margin: 25px 0;
}
.list-inline>li {
    display: inline-block;
    padding: 0 16px;
}

i.fas.fa-dollar-sign {
    font-size: 17px;
    color: #888080 !important;
}
.list-inline a {
    color: #3a3b3c;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    font-weight: inherit;
}

.list-inline a:hover {
    padding: 33px 0px;
    border-bottom: 2px solid #888080;
}

/* header2 */
.list-check-left {
    display: flex;
    flex-wrap: nowrap;
}
input.checkbox-left {
    height: 20px;
    width: 20%;
    margin-top: 23px;
}
.checkbox-right {
    width: 0;
    flex-grow: 1;
}
ul.dropdown-menu {
    width: 350px;
}
ul.dropdown-menu {
    border-radius: 15px;
}
button.btn.btn-default.delete {
    border-radius: -9px;
    color: black;
    text-decoration: underline;
    border: none;
    margin: 0px 30px;
}
button.btn.btn-info.save {
    background-color: #000000;
    border: 1px;
    float: right;
    margin: 0 30px;
    border-radius: 10px;
    padding: 7px 17px;
}
button.btn.btn-default.delete:hover {
    background-color: #f5f2f2;
}
button.btn.btn-info.save:hover {
    background-color: black;
}
/*Header 2*/
.header2 {
    border-top: 1px solid #dcd4d4;
    border-bottom: 1px solid #dcd4d4;
}
.btn-group {
    margin: 6px 0px;
}

button.btn.btn-default {
   
    border-radius: 30px !important;
    padding: 8px 16px;
    margin-right: 13px;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
}
button.btn.btn-default:hover {
    background-color: white;
    border: 1px solid black;
}
ul.dropdown-menu {
    top: 45px;
}
/* ul.dropdown-menu.row {
    padding: 17px 0px;
} */
button.btn.btn-default:focus {
    outline: none;
}

/*Switch*/
.checkbox-map {
    float: right;
    display: flex;
    margin-right: 12px;
}

span.show-map {
    margin: 13px;
    font-size: 16px;
}

.center input[type="checkbox"]{
    position: relative;
    width: 72px;
    height: 36px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    /* transition: 0.5s; */
}
.center input:checked[type="checkbox"]{
    background: black;
}
.center input[type="checkbox"]:before{
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border: 1px solid #928a8a;
    border-radius: 20px;
    background: white;
    transform: scale(1.1);
    transition: 0.5s;
    left: 2px;
    top: 1px;
}
.center input:checked[type="checkbox"]:before{
    left: 36px;
}

/*content*/

/*combinator-img*/
.heart {
    width: 32px !important;
    height: 32px !important;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    border-radius: 50%;
    color: #222222;
    background-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 0px 1px transparent,
        0px 0px 0px 4px transparent,
        0px 2px 4px rgba(0, 0, 0, 0.18) !important;
}
.heart:hover {
    box-shadow: 0px 0px 3px 3px rgba(0,0,0, .2);
    background: white;
}
.icon-heart {
    position: absolute;
    top: 9px;
    left: 8px;
    width: 16px;
    height: 16px;
}

a.left.carousel-control.carousel-prev, a.right.carousel-control.carousel-next {
    background-image: none;
    display: none;
}

span.glyphicon.glyphicon-chevron-left, span.glyphicon.glyphicon-chevron-right {
    background-color: white;
    font-size: 12px;
    border-radius: 20px;
    padding: 8px 7px;
    color: black;
}
span.glyphicon.glyphicon-chevron-right:hover {
    box-shadow: 0px 0px 3px 3px rgba(0,0,0, .2);
}
span.glyphicon.glyphicon-chevron-left:hover {
    box-shadow: 0px 0px 3px 3px rgba(0,0,0, .2);
}

.rowhover:hover .carousel-control.right {
    display: inline;
}
.rowhover:hover .carousel-control.left {
    display: inline;
}

.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: 200px;
}


/*combinator-content*/
.col-sm-8.content {
    padding-right: 30px;
}
span.glyphicon.glyphicon-star {
    color: red;
    padding: 4px 10px;
}
span.glyphicon.glyphicon-star:hover {
    color: aquamarine;
}
h4.can-ho {
    font-size: 16px;
    color: #717171;
}
p1 {
    color: black;
    font-size: 18px;
}
span.danhgia {
    float: right;
    font-size: 15px;
}
span.labal-tieude {
    background-color: white;
    border: 1px solid black;
    padding: 3px 9px;
    font-size: 13px;
    border-radius: 7px;
    color: black;
}
.giuong-phong {
    color: #717171 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 18px !important;
    max-height: 18px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    margin-top: 6px;
}
.tenphong {
    color: #222222;

}
/* span.information {
    color: black;
    font-family: -webkit-body;
    font-size: 17px;
    cursor: pointer;
} */
/* .label-info{
    background-color: #f0fdfd;
    border-radius: 20px;
    padding: 3px 10px;
} */
/* i.far.fa-gem {
    color: black;
} */
/* .hover-control {
    background-color: #d7f1f9;
    color: black;
    width: 175px;
    display: none;
} */
/* span.information:hover .hover-control {
    display: inline-block;
    
} */
.tienphong {float: right;}
small.dollar {font-size: 18px;color: #8a7a7a;text-decoration: line-through;margin-right: 5px;}
.number-sum {
    margin-top: -10px; float: right; font-size: 20px;
}
/* .icon:hover {
    color: aqua;
} */
i.fas.fa-dollar-sign {
    color: black !important;
    font-size: 20px;
}
p2 {
    color: #5a5353;
    font-size: 20px;
    font-family: serif;
}
i.far.fa-question-circle:hover {
    color: #bfe4f5;
}
/* .col-sm-7.content {
    margin-left: -14px;
} */
/* .img-rounded {
    max-width: 100% ;
    max-height: 100% ;
} */


/* img-map */
.anhmap {
    background-image: url(Anh/map.jpg);
    height: 100%;
    width: 410px;
}



/* Jumbotron*/
.gop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.jumbotron {
    margin-left: -15px;
}
.jumbotron-img-top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.img2{
    width: 195px;
    padding: 4px;
    height: 212px;
    border-radius: 7px;
}
.content-jumbotron {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}
.content-jumbotron a{
    text-decoration: none;
    color: #484848;
}
.dayphuluu4 {
    width: 190px;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
}
a.dayphuluu5 {
    font-size: 16px;
    font-weight: bold;
    padding: 4px;
}
a.dayphuluu6 {
    font-size: 15px;
    color: #544d4d;
}
.col-lg-8.jumbotron-table {
    padding: 0px;
    overflow-x: scroll;
    
}
.col-lg-8.jumbotron-table::-webkit-scrollbar { 
    display: block; 
}

span.jumbotron-tieude {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 32px !important;
    font-weight: 800 !important;
    line-height: 1.125em !important;
    color: #484848 !important;
}
p.jumbotron-nd {
    font-size: 16px;
    margin-top: 10px;
}
button.hientatca.an-button1 {
    background-color: white;
    margin: 27px 0px;
    padding: 11px 21px;
    border: 1px solid #d6d2d2;
    color: black;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0, .2);
}
button.hientatca.an-button2 {
    display: none;
}
img.img1:hover {
    background-color: #d6d1cb;
}
.jumbotron {
    padding-top: 35px;
    padding-bottom: 15px;
}
.col-lg-4.jumbotron-left {
    
    padding: 30px 10px 0px 0px;
}
.heart1 {
    width: 32px !important;
    height: 32px !important;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 50%;
    color: #222222;
    background-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 0px 1px transparent,
        0px 0px 0px 4px transparent,
        0px 2px 4px rgba(0, 0, 0, 0.18) !important;
}
.heart1:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
}
/* Pagination*/
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    font-size: 19px;
    color: black;
    border: none !important;
}
a.icon-left:hover {
    color: black !important;
    box-shadow: 0px 0px 4px 4px rgba(12, 11, 11, 0.2);
    background-color: white;
}
.pagination>li:first-child>a, .pagination>li:last-child>a {
    margin-right: 4px;
    background-color: #ececec;
    border-radius: 20px;
    padding: 5px 13px;
    border: 1px solid black;
}
.delete-border {
    background-color: black !important;
    color: white !important;
}
.delete-border:hover {
    z-index: 2;
    color: #ffffff !important;
    background-color: black !important;
    border-color: #ddd;
}
a.delete-border.active {
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 3px 9px;
    padding: 2px 10px;
}
a.click-hover:hover {
    background-color: white !important;
    text-decoration: underline;
    color: black !important;
}

/*Pagination-Footer*/
.pagination-footer {
    text-align: center;
}
p.pagination-footer2 {
    font-size: 12px;
    color: #8c8585;
}


/*test*/

header {
    height: 130px;
    width: 100%;
    position: fixed;
    z-index: 20;
    background: white;
}
.wrapper {
    display: flex;
    padding-top: 130px;
}
section {
    width: 70%;
}
aside {
    height: 527px;
    position: sticky;
    top: 130px;
    width: 30%;
}
/*Footer*/
footer {
    height: 318px;
    width: 100%;
    border-top: 1px solid #dcd4d4;
}
.main-footer {
    width: 1048px;
    margin: 48px auto;
}
.footer-information {
    display: flex;
    flex-direction: row;

}
.footer-column {
    flex-grow: 1;
    width: 100%;
}
.footer-header {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 800 !important;
    line-height: 1.28571em !important;
    color: rgb(72, 72, 72) !important;
}
.footer-content p {
    color: #767676 !important;
    margin-bottom: 4px;
}
.footer-content a {
    color: #767676 !important;  
    font-size: 15px;
}
.footer-content .label-info {
    background-color: #0a7b7b;
    border-radius: 8px;
}
.footer-finish {
    display: flex;
}
.footer-left {
    font-size: 15px;
    color: rgb(111, 109, 109);
}
.footer-left span a{
    text-decoration: none;
    color: rgb(111, 109, 109);
}
.footer-left span a:hover{
    text-decoration: underline;
}
.cham {
    padding: 2px;
}
.footer-right {
    flex-grow: 1;
}
.footer-right i {
    float: right;
    margin: 0 11px;
    font-size: 20px;
    color: #7b7a7a;
}
i.fab.fa-airbnb {
    font-size: 21px;
    color: #9c9393;
}
i.far.fa-copyright {
    font-size: 10px;
}

@media (max-width: 1024px){
    .list-inline{
        display: none;
    }
    .btn-nodropdown button:nth-last-child(2), .btn-nodropdown button:nth-last-child(3){
        display: none;
    }
    section {
        width: 100% !;
    }
    aside {
        display: none;
    }
    .checkbox-map {
        display: none;
    }
    .rowhover {
        width: 100%;
    }
    .main-footer {
        width: 888px;
    }
    .pagination-page {
        width: 100%;
    }
    .jumbotron-main {
        width: 100%;
    }
    .img2 {
        width: 100%;
        padding: 10px;
        height: 400px;
        
    }   
    .btn-group .btn-default {
        color: #a59393;
        background-color: #fff;
        border-color: #ccc;
    }
    .header2 {
        border-top: 1px solid #dcd4d4;
        border-bottom: 1px solid #ffffff;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .container-fluid.clear-top {
        padding-right: 0;
        padding-left: 0;
    }
    .left-header .logo-img {
        width: auto;
        padding: 0 24px 0 0;
    }
    .col-sm-4.row-img1 {
        padding-left: 0;
    }
    .col-sm-8.content {
        padding-right: 0px;
        padding-left: 0;
    }
    button.hientatca.an-button1 {
        display: none;
    }
    button.hientatca.an-button2 {
        display: block;
        background-color: white;
        margin: 27px 0px;
        padding: 11px 21px;
        border: 1px solid #d6d2d2;
        color: black;
        font-size: 20px;
        border-radius: 7px;
        box-shadow: 0px 0px 6px -1px rgba(0,0,0, .2);
    }
}
/* @media (min-width: 768px){
    .col-sm-5 {
        width: 30%;
    }
} */
@media (max-width: 768px){
    footer {
       display: none;
    }
    .img2 {
        width: 100%;
        padding: 10px;
        height: 300px;
    }
    .row.jumbotron-row {
        margin-right: 0;
        margin-left: 15px;
    }
}
@media (max-width: 800px){
    .carousel-inner>.item>a>img {
        display: block;
        max-width: 100%;
        height: 100%;
    }
}
@media (max-width: 600px){
    button.btn.btn-default.cong-tac {
        display: none;
    }
    button.btn.btn-default.dropdown-toggle.noi-o {
        display: none;
    }
    .input-group.search-group {
        flex-grow: 0;
        width: 92%;
        margin-left: 15px;
    }
    .header2 {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #dcd4d4;
    }
    button.btn.btn-default.bolockhac {
        margin-left: -9px;
    }
    .row.jumbotron-row {
        width: 100%;
        margin-left: 15px;
    }
    .row.rowhover {
        margin-left: 0px;
    }
    .tienphong {
        float: left !important;
    }
    .content .giuong-phong {
        display: none !important;
    }
    .tienphong .number-sum {
        display: none !important;
    }
    .carousel-inner>.item>a>img {
        display: block;
        max-width: 100%;
        height: 100%;
    }
    .col-sm-4.row-img1 {
    padding-left: 0;
    }
    button.hientatca.an-button2 {
        width: 100%;
        background: #eeeeee;
        border-color: black;
    }
}
/* @media (min-width: 768px){
    .col-sm-5 {
        width: 300px;
        height: 200px;
    }
}
@media (max-width: 768px){
    .giuong-phong {
        display: none;
    }
    .tienphong {
        float: left !important;
    }
    .rowhover a:hover {
        text-decoration: none;
    }
}

@media (max-width: 414px){
    .input-group.search-group {
        width: 260px !important;
        flex-grow: 0;
    }
}
@media only screen and (min-width: 1128px ){
    
    .carousel-inner img {
        height: 200px;
        width: 300px;
    }
}
@media only screen and (max-width: 744px){
    .tienphong {
        float: left;
    }
    .giuong-phong {
        display: none;
    }
}
@media only screen and (max-width: 1128px){
    aside {
        display: none;
    }
    tr .img1 {
        max-width: 100% !important;
    }
    section{
        width: 100% !important;
    }
    .checkbox-map {
        display: none;
    }
    .main-footer {
        width: 100% !important;
        margin: 48px auto !important;
        margin-left: 22px !important;
    }
}
@media only screen and (max-width: 1200px){
    img.img2 {
        width: 100% !important;
        height: 100%;
        margin: 0px 28px;
    }
    .dayphuluu4 {
        width: 100%;
        margin: 0px 28px;
        font-size: 13px;
    }
    .dayphuluu5 {
        width: 100%;
        margin: 0px 28px;
    }
    .dayphuluu6 {
        width: 100%;
        margin: 0px 28px;
    }
    @media only screen and (max-width:1028px) {
    .btn-nodropdown button:nth-last-child(2), .btn-nodropdown button:nth-last-child(3){
        display: none;
    }
}
@media only screen and (max-width:744px) {
    button.btn.btn-default.cong-tac {
        display: none;
    }
    button.btn.btn-default.dropdown-toggle.noi-o {
        display: none;
    }
}
@media only screen and (max-width: 1200px){
    .list-inline{
        display: none;
    }
}
} */