@import "./../mixin.scss";
@import "./../responsive.scss";
@import "./../variables.scss";

footer {
    @include width-height(100%, 318px);
    border-top: 1px solid #dcd4d4;
    .main-footer {
        width: 1048px;
        margin: 48px auto;
        .footer-information {
            @include display-flex(row, nowrap);
            .footer-column {
                flex-grow: 1;
                width: 100%;
                .footer-header {
                    @include fontsize-lineh(16px, 1.43, $fontColor);
                    margin-bottom: 16px;
                    font-weight: 800 !important;
                }
            }
            .footer-content p {
                color: #767676 !important;
                margin-bottom: 4px;
                & a {
                    @include fontsize-lineh(15x, 1.43, $fontColor);
                }
                .label-info {
                    background-color: #0a7b7b;
                    border-radius: 8px;
                }
            }
        }
        .footer-finish {
            display: flex;
            .footer-left {
                @include fontsize-lineh(15x, 1.43, $fontColor);
                & span a{
                    text-decoration: none;
                    color: rgb(111, 109, 109);
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .cham {
                    padding: 2px;
                }
            }
            .footer-right {
                flex-grow: 1;
                & i {
                    float: right;
                    margin: 0 11px;
                    @include fontsize-lineh(20px, 1.43, $fontColor);
                    .fab.fa-airbnb {
                        @include fontsize-lineh(21px, 1.43, $fontColor);
                    }
                    .far.fa-copyright {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

//respon
@include responsive_1024(){
    .main-footer {
        width: 888px !important;
    }
}

@include responsive_768() {
    
    footer {
        display: none;
    }
}